.projectsIntroduction
{
    padding: 20vh $spacing 30vh;
    *
    {
        padding: $spacing 0rem;
    }
}

#ham-menu
{
    display: none;
}

.med-lg
{
    display: inline;
}

#certGrid
{
    align-items: flex-end;
    h3
    {
        grid-column: span 3;
    }
    .cert
    {
        grid-column: span 1;
        img
        {
            max-height: 10vh;
            grid-column: span 3;
        }
    }    
}

.landing-page-row
{
    padding: $spacing*2 $spacing;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.topItem
{
    grid-column: 3 / span 2 !important;
}

#item3
{
    grid-column: 1 / span 2;
}

#item7
{
    grid-column: 1 / span 2;
}

#projectSec
{
    padding: $spacing 10vw;
}