.projectsIntroduction
{
    padding: 20vh $spacing 30vh;
    *
    {
        padding: $spacing 0rem;
    }
}

#ham-menu
{
    display: none;
}

.med-lg
{
    display: inline;
}

#certGrid
{
    align-items: flex-end;
    h3
    {
        grid-column: span 3;
    }
    .cert
    {
        grid-column: span 1;
        img
        {
            max-height: 15vh;
            grid-column: span 3;
        }
    }    
}