/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body, .landing-page {
  max-width: 100vw;
}

.logo, nav, nav ul, nav ul li, #landing-page-2, .homeLP, .homeLP div, .homeSec1, #ham-menu, #ham-menu-close, #sm-menu-opt nav ul, #hS2G .imgSec {
  display: -ms-grid;
  display: grid;
}

.logo, nav, nav ul li, .homeLP, .homeLP div, #ham-menu, #ham-menu-close, #hS2G .imgSec {
  justify-items: center;
}

header, nav ul li, .homeLP, .homeLP div, #hS2G .imgSec {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0rem;
  background-color: #111;
  color: #fff;
  background-image: url("/assets/images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  width: 100%;
  height: 4rem;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}

header > * {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 100%;
}

nav {
  height: 100%;
}

nav ul {
  justify-items: stretch;
  grid: auto / 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
  height: 100%;
}

nav ul li {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1fr / span 1;
  float: left;
  padding: 0rem 1rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

#landing-page-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

#skewed1 {
  width: 100%;
  height: 10vw;
  background: #202d3a;
  z-index: 1;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#skewed2 {
  position: absolute;
  width: 100%;
  height: 10vw;
  background: #202d3a;
  z-index: 1;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#skewed3 {
  position: absolute;
  width: 100%;
  height: 10vw;
  background: #c9d6df;
  z-index: 1;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#skewed1C {
  width: 100%;
  height: 10vw;
  background: #202d3a;
  z-index: 1;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.homeLP {
  margin: 0rem 1rem;
  height: 80vh;
}

.homeLP div {
  text-align: center;
}

.homeSec1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #202d3a;
  z-index: 5;
  padding: 2rem;
}

.homeSec1 h2 {
  margin: 1rem 0rem;
  grid-column: span 3;
}

.homeSec1 p {
  padding: 1rem 0rem;
}

.homeSec2 {
  background: radial-gradient(circle, #646464 25%, #323232 100%);
  font-weight: bolder;
}

.lText {
  font-size: 1.5rem;
}

.med-lg {
  display: none;
}

#ham-menu {
  height: 100%;
  font-size: 2rem;
  width: 4rem;
}

#ham-menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#ham-menu-close {
  height: 100%;
  font-size: 2rem;
  width: 4rem;
}

#ham-menu-close:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menuToggle {
  display: none !important;
}

#sm-menu-opt {
  width: 100%;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}

#sm-menu-opt nav {
  width: 100%;
}

#sm-menu-opt nav ul {
  grid: auto / 1fr;
  min-width: 100%;
}

#sm-menu-opt nav ul li {
  width: 100%;
  height: 4rem;
}

#sm-menu-opt nav ul li a {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#hS2G {
  padding: 8rem 1rem;
}

#hS2G .imgSec {
  grid: 1fr/repeat(12, minmax(0, 1fr));
  text-align: center;
}

#hS2G .imgSec img {
  grid-column: span 3;
}

#hS2G .imgSec h3 {
  grid-column: span 12;
  margin: 4rem 0rem;
}

#hS2G #htmlFront {
  grid-column: span 6;
}

#certGrid {
  display: -ms-grid;
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  gap: 4rem 0rem;
  padding: 4rem 1rem;
}

#certGrid h3 {
  grid-column: span 3;
}

#certGrid .cert {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-column: span 3;
}

#certGrid .cert img {
  max-height: 20vh;
  grid-column: span 3;
}

footer {
  display: -ms-grid;
  display: grid;
  padding: 2rem 1rem 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #101010;
}

footer * {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 1rem;
}

.landing-page-row {
  padding: 0rem 1rem;
  display: -ms-grid;
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

.projectItem {
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  background-color: rgba(191, 191, 191, 0.1);
  padding: 5px;
  border-radius: .25rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  grid-column: span 2;
}

.projectItem * {
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  color: #252525;
}

.topItem {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

#item2 {
  grid-column: span 2;
}

#item6 {
  grid-column: span 2;
}

.projectsIntroduction {
  display: -ms-grid;
  display: grid;
  grid: auto / 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 8rem 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.projectsIntroduction * {
  padding: 1rem 0rem;
}

#emailFig {
  max-height: 75px;
}

#cEmail {
  display: -ms-grid;
  display: grid;
  grid: 1fr / 1fr 2fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#cEmail * {
  grid-column: span 1;
}

#cEmail img {
  padding: 1rem 0rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.pSecHead {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 1rem 1rem;
}

.pSecHead h2 {
  border-bottom: #585858 solid 2px;
}

#projectSec {
  background-color: #c9d6df;
  color: #252525;
  padding: 0rem 0rem 4rem;
  position: relative;
  z-index: 5;
}

@media only screen and (min-width: 34rem) {
  .projectsIntroduction {
    padding: 20vh 1rem 30vh;
  }
  .projectsIntroduction * {
    padding: 1rem 0rem;
  }
  #ham-menu {
    display: none;
  }
  .med-lg {
    display: inline;
  }
  #certGrid {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #certGrid h3 {
    grid-column: span 3;
  }
  #certGrid .cert {
    grid-column: span 1;
  }
  #certGrid .cert img {
    max-height: 10vh;
    grid-column: span 3;
  }
  .landing-page-row {
    padding: 2rem 1rem;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .topItem {
    -ms-grid-column: 3 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 3 / span 2 !important;
  }
  #item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  #item7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  #projectSec {
    padding: 1rem 10vw;
  }
}

@media only screen and (min-width: 70rem) {
  #hS2G {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .landing-page-row {
    padding: 4rem 1rem;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 4rem 8rem;
  }
  #projectSec {
    padding: 1rem 15vw;
  }
}
/*# sourceMappingURL=styles.css.map */