body
{
margin: 0px;
padding: 0px;
display: inline;
}

.nav-spacer
{      
    height: 50px;
    width: 100%;
}

#navbar
{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(165, 165, 165);
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
}

.nav-item-logo
{
    display: flex;
    flex-flow: column;
    width: 10%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.nav-items
{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: flex-end;
}

.nav-item
{
    display: flex;
    flex-flow: column;
    width: 10%;
    height: 100%;
    text-align: center;
    justify-content: space-around;
}

.landing-page
{
    display: flex;
}

#welcome-section
{
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    flex-flow: column;
    justify-content: space-around;
}

@media (max-width: 400px)
{
    body{
        display: inline;
    }  
}

.content-b
{
    display: flex;
    width: 100%;
    height: 100vh;
}

.cb-1
{
    background-color: black;
    color: antiquewhite;
    justify-content: space-around;
}

.cb-header
{
    display: flex;
    justify-items: center;
    flex-flow: column;
    align-items: center;
}

